<div class="flexcol">
    <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-action="editImage" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
        <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
        <div class="resource">
            <label>Quantity</label>
            <input type="number" name="system.quantity" value="{{systemData.quantity}}" data-dtype="Number"/>
        </div>
        <div class="resource">
            <label>Weight</label>
            <input type="number" name="system.weight" value="{{systemData.weight}}" data-dtype="Number"/>
        </div>
    </div>
</header>

{{!-- Sheet Tab Navigation --}}
<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description" data-group="primary">Description</a>
    <a class="item" data-tab="attributes" data-group="primary">Attributes</a>
</nav>

{{!-- Sheet Body --}}
<section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
        {{#if (eq editingDescriptionTarget "system.description")}}
        <div class="editor-wrapper editing">
            <div class="editor-header">
                <button type="button" class="editor-control editor-edit" data-target="system.description" title="{{localize 'SIMPLE.FinishEditing'}}">
                    <i class="fas fa-check"></i> {{localize "SIMPLE.Done"}}
                </button>
            </div>
            <prose-mirror name="system.description" value="{{descriptionValue}}" document-uuid="{{item.uuid}}" compact>{{{descriptionHTML}}}</prose-mirror>
        </div>
        {{else}}
        <div class="editor-wrapper">
            {{#if editable}}
            <div class="editor-header">
                <button type="button" class="editor-control editor-edit" data-target="system.description" title="{{localize 'SIMPLE.EditDescription'}}">
                    <i class="fas fa-edit"></i> {{localize "SIMPLE.Edit"}}
                </button>
            </div>
            {{/if}}
            <div class="editor editor-content">{{{descriptionHTML}}}</div>
        </div>
        {{/if}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
        <header class="attributes-header flexrow">
            <span class="attribute-key">{{localize "SIMPLE.AttributeKey"}}</span>
            <span class="attribute-value">{{localize "SIMPLE.AttributeValue"}}</span>
            <span class="attribute-label">{{localize "SIMPLE.AttributeLabel"}}</span>
            <span class="attribute-dtype">{{localize "SIMPLE.AttributeDtype"}}</span>
            <a class="attribute-control" data-action="createAttribute"><i class="fas fa-plus"></i></a>
        </header>

        {{!-- Render the attribute list partial. --}}
        {{> "systems/worldbuilding/templates/parts/sheet-attributes.html" attributes=systemData.ungroupedAttributes dtypes=dtypes}}

        {{!-- Render the grouped attributes partial and control. --}}
        <div class="groups">
            {{> "systems/worldbuilding/templates/parts/sheet-groups.html" attributes=systemData.groupedAttributes groups=systemData.groups dtypes=dtypes}}
            <div class="group-controls flexrow">
                <input class="group-prefix" type="text" value=""/>
                <a class="button group-control" data-action="createGroup"><i class="fas fa-plus"></i>Add Attribute Group</a>
            </div>
        </div>
    </div>
</section>
</div>
